@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

img {
    max-width: 100%;
}

.clr {
    clear: both;
}

.view_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.view_btn a {
    font-size: 15px;
    background: #2196F3;
    padding: 5px 20px;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
}

/*use-only-this*/

.slchtl_mn {
    width: 100%;
    margin-top: 10px;
}

._polrdestnbx {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.ecpl_rbx {
    width: 32%;
    background: #F6FBFF;
    border: 1px solid #2196F3;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.ecpl_rbx:nth-child(3),
.ecpl_rbx:nth-child(6) {
    margin-right: 0
}

.mgdestn {
    width: 20%;
    height: 70px;
}

.mgdestn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

._pckgdscrptn {
    width: 76%;
    display: flex;
    flex-flow: column;
}

._pckgdscrptn h5 {
    font-size: 18px;
    font-weight: 700;
}

.htlnking {
    font-size: 13px;
}

.htlnking a {
    color: #000;
    text-decoration: none;
    position: relative;
}

.htlnking a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    background: #2196f3;
    visibility: hidden;
    border-radius: 5px;
    transition: .25s linear;
    transform: scaleX(0);
}

.htlnking a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.moretext {
    display: none;
    width: 100%;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}