.box {
    left: -196px
}

.bx1 {
    width: 317px;
    position: absolute;
    margin: 0px auto;
    background: #fff;
    z-index: 99;
    top: 0;
    margin-top: 0%;
    max-height: 266px;
    border: 1px solid #dcdcdc;
    overflow: auto;
}

.bx1n {
    width: 58%;
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 99;
    top: 0;
    margin-top: 0%;
    max-height: 266px;
    border: 1px solid #c2c7cb;
    overflow: auto;
}

.box1 {
    left: -65px;
}

.bx-r {
    margin: 65px auto
}

.ui-widget.ui-widget-content {
    width: 314px !important
}

.box,
.box1 {
    top: 65px;
}

.main1 {
    right: -115px;
    top: 0
}

.s_col_2,
.s_col_r {
    position: relative
}

.op {
    opacity: .4;
    position: relative;
    z-index: 9;
}

.old-dt {
    color: #c9c7c7 !important;
    pointer-events: none;
}

#sector-sec1 {
    width: 100%;
    float: left;
    margin: 0 0 4px 0;
}

#sector-sec2,
#sector-sec3,
#sector-sec4,
#sector-sec5,
#sector-sec6 {
    margin: 6px 0 4px 0;
    width: 71%;
    float: left;
}

.mobile-wi1-multi {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.display_box_hover_from,
.display_box:hover {
    background: rgba(236, 236, 236, 0.71);
    color: #FFFFFF;
}

.display_box_hover_to,
.display_box:hover {
    background: rgba(236, 236, 236, 0.71);
    color: #FFFFFF;
}

.drop {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    position: absolute;
    z-index: 999;
    top: 64px;
    border: none !important;
}

.drop-new {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    position: absolute;
    z-index: 999;
    top: 64px;
    border: none !important;
}

.arpn {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 15em;
    display: inline-block;
    padding: 0 0 0 27px !important;
    font-size: 11px;
    color: #999;
}

.cnt {
    margin-right: 4px;
    float: right;
    color: #999999;
    font-size: 11px
}

.cty {
    margin: 2% 0 0 2% !important;
    width: 7%;
    background: url(https://www.easemytrip.com/Content/img/sprite-auto.png);
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    background-position: -3px -45px;
}

.ui-widget.ui-widget-content {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    max-height: 272px;
    overflow-y: scroll;
}

.ct {
    color: #000;
    font-weight: 600;
    font-size: 14px !important;
    margin-top: 3px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ar-m {
    display: block;
    width: 100%;
    padding-bottom: 3px !important;
}

.tp-cit ul li {
    border-left: 4px solid #ffffff;
}

.tp-cit ul li:hover {
    background: #f2f2f2;
    cursor: pointer;
    border-left: 4px solid #678aed;
}

.ui-menu .ui-menu-item {
    border-left: 4px solid #ffffff;
}

.ui-menu .ui-menu-item:hover {
    border-left: 4px solid #678aed;
}

#ui-datepicker-div {
    max-height: none;
    overflow-y: hidden;
}

.hide-txtbox {
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    border: 0;
    background: #ffffff;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #2196f3 !important;
    background: #2196f3 !important;
    color: #ffffff !important;
    border-radius: 5px;
}

.ui-datepicker .ui-datepicker-calendar td a.ui-state-active,
.ui-datepicker .ui-datepicker-calendar td a:hover {
    background-color: #035986 !important;
    color: #fff !important;
    border: 1px solid #035986;
}

.carot {
    font-size: 22px;
    vertical-align: top;
    line-height: 13px;
}

.src_btn:hover {
    background-color: #da5200;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fnt-wht {
    color: #fff
}

.roud-m1 {
    border: 1px solid #ccc;
    width: 21% !important;
    cursor: pointer;
    float: left;
    border-radius: 6px;
    padding: 5px 7px 5px;
    margin: 10px 12px 10px 0;
    box-shadow: 2px 2.5px 5px -1px #ccc;
    background: #ffffff;
}

.roud-m1:last-child {
    border-bottom: 0;
    margin-bottom: 13px;
    border-right: 0
}

.it-1n {
    width: 77%;
    float: left;
    font-size: 10px;
    padding-top: 4px;
    color: #8e8e8e;
}

.it-3n {
    width: 23%;
    float: right;
    font-size: 10px;
    padding-top: 4px;
    color: #8e8e8e;
}

.it-2n {
    width: 28%;
    display: none;
    float: right;
    font-size: 12px;
    text-align: right;
}

.it-2n a {
    color: #4263c1;
    padding: 2px 7px !important;
    cursor: pointer;
    float: right;
    text-align: center;
    border-radius: 15px;
    font-size: 12px !important;
    border: 1px solid #4263c1
}

.it-2n a:hover {
    color: #fff;
    background: #4263c1;
}

.lin-a1 {
    width: 100%;
    margin-bottom: 5px;
    display: none
}

.ft-1n {
    width: 60%;
    text-transform: uppercase;
    font-size: 18px;
    float: left;
}

.ft-2n {
    width: 38%;
    font-size: 12px;
    float: right;
    text-align: right;
    padding-top: 2px;
}

.lin-a2 {
    width: 100%;
    margin-bottom: 5px;
}

.gt-1n {
    width: 45%;
    font-size: 11px;
    float: left;
    font-weight: 700;
    margin-top: 1px;
}

.sp-dt2 {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.gt-2n {
    width: 10%;
    float: left;
    text-align: center;
    margin-top: -3px
}

.gt-3n {
    width: 43%;
    font-size: 11px;
    float: right;
    font-weight: 700;
    text-align: right;
}

.lin-a3 {
    width: 100%;
    margin-bottom: 5px;
}

.lin-a4 {
    width: 100%;
}

.recent_sr {
    margin: 0 auto;
    width: 92%
}

#RecentSearch {
    width: 1024px;
    margin: 0 auto;
}

.recent_sr ul {
    *zoom: 1;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.recent_sr ul:before,
.recent_sr ul:after {
    content: "";
    display: table;
}

.recent_sr ul:after {
    clear: both;
}

.recent_sr ul>li {
    float: left;
    position: relative;
    margin-right: 20px
}

.recent_sr a {
    cursor: pointer;
    display: block;
    padding: 15px 30px 0 0;
    line-height: 1.2em;
    color: #fff;
    text-decoration: none;
    font-size: 13px
}

#image {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
    vertical-align: middle;
    margin-left: 3px;
}

.flip {
    transform: rotate(-180deg);
}

/*today updated*/

.grecaptcha-badge {
    visibility: hidden;
}

.mid_container h2:after {
    display: none;
}

.bg_full_n5 {
    background: #ececec;
    padding: 20px;
    margin: 30px 0;
}

.mid_container h2 {
    font-size: 22px;
    font-weight: 600;
    display: block;
    padding: 0;
    color: #000;
    text-align: center;
}

.icn-n img {
    width: 36%;
    display: block;
    margin: 10px auto 0px;
}

.lvl_txt {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-calendar td a.ui-state-active,
.ui-datepicker .ui-datepicker-calendar td a:hover {
    background-color: #2196f3 !important;
    color: #fff !important;
    border: 1px solid #2196f3;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    text-align: center;
}

.emt_header_wrap {
    width: 97% !important;
}

.emt_nav ul li a {
    padding: 18px 9px !important;
}

.footer .footer_inr {
    width: 97% !important;
}

.cab-tooltip,
.cab-display-container {
    position: relative;
}

.mySlides,
.dot {
    display: none;
}

.cab-black,
.cab-hover-black:hover {
    color: #fff !important;
    background-color: #0000006e !important;
    border-radius: 50px;
    outline: none;
}

.cab-display-left {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.cab-button:hover {
    color: #fff !important;
    background-color: #1312126b !important;
    outline: none;
}

.c_col_1-airprt {
    width: 293px;
    float: left;
    position: relative;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.c_col_1rentl {
    width: 321px;
    float: left;
    position: relative;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.c_col_2-rentl {
    width: 255px;
    float: left;
    border-right: 1px solid #d6d3d3;
    padding: 0;
}

.select_box_pac-ren {
    -moz-appearance: none;
    border: 0;
    color: #000;
    background: none;
    float: left;
    font-weight: 600;
    font-size: 15px;
    outline: medium none;
    padding: 22px 0 22px 34px;
    width: 246px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif, Tahoma, Arial !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.cab-black,
.cab-hover-black:hover {
    color: #fff !important;
    background-color: #0000006e !important;
    border-radius: 50px;
    outline: none;
}

.cab-display-right {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.cab-btn,
.cab-button {
    border: none;
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.cab-ttl h1 {
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    padding: 0;
    text-align: center;
    margin: 0 0 16px;
}

.mid_hp_wrap {
    width: 1200px;
    margin: 12px auto 20px auto;
    padding: 0;
}

.mid_hp_wrapBtm {
    width: 1200px;
    margin: 0px auto 30px;
    padding: 0;
}

.mid_hp_wrapBtm h4 {
    color: #000;
    font-size: 16px;
    text-align: left;
    margin: 12px 0 10px;
    font-weight: 700;
    width: 100%;
    position: relative;
}

.mid_container h4 {
    color: #000;
    font-size: 16px;
    text-align: left;
    margin: 0 0 10px;
    font-weight: 700;
}

.toggle .toggle-title {
    position: relative;
    display: block;
    margin-bottom: 0;
}

.toggle .toggle-title h3 {
    font-size: 20px;
    margin: 0;
    line-height: 1;
    font-weight: 200;
}

.toggle .toggle-title .title-name {
    display: block;
    padding: 5px 0 6px;
    font-size: 15px;
    font-family: open sans;
    text-align: left;
    font-weight: 600;
}

.toggle .toggle-inner {
    padding: 7px 25px 10px 0;
    display: block;
    margin: -7px 0 6px;
}

.toggle .toggle-inner p {
    font-family: open sans;
    font-size: 13px;
}

.faans {
    color: #000;
    font-size: 16px;
    /* text-align: center; */
    margin: 10px 0;
    font-weight: 700;
    width: 100%;
    position: relative;
    width: 88%;
}

.htl-display-right {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.htl-btn {
    border: none;
    display: inline-block;
    padding: 4px 11px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff !important;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50px;
    outline: none;
}

.htl-display-left {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.dn_btn {
    cursor: pointer;
    background: #ef6614;
    float: right;
    text-align: center;
    padding: 4px 18px;
    display: block;
    float: right;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.dropdown-content-n {
    top: 240px !important;
    right: 108px;
}

ul.cab_round li {
    color: #cad5f5;
    cursor: pointer;
    font-size: 12.5px;
    float: left;
    border-radius: 20px;
    margin-right: 10px;
}

ul.cab_round input[type="radio"]:checked+label {
    background-color: #fff !important;
    color: #1853a2 !important;
    border-radius: 50px;
    margin: auto;
    border-color: #fff
}

ul.cab_round label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
}

.search_bg_cab {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.bxz1,
.bxz2 {
    margin: 0px;
    flex: 1;
}

.c_col_v4 {
    width: 136px;
    float: right;
    position: relative;
}

.stateguide {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff3cd;
    border: 1px solid #f1dfab;
    width: 100%;
    margin: 10px auto;
    font-size: 15px;
    padding: 10px 15px;
}

.toplink {
    text-transform: capitalize;
    position: relative;
    color: #2196f3;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #2196f3;
    padding: 5px 10px;
    border-radius: 20px;
}

.serv_out {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 15px 0;
}

.serv_box {
    flex: 1;
    flex-direction: row;
    display: flex;
    min-height: 95px;
    border: 1px solid #ccc;
    float: left;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    margin: 0;
    box-shadow: 2px 2.5px 5px -1px #ccc;
    background: #ffffff;
}

.mgr10 {
    margin-right: 10px
}

.img_box3 {
    width: 17%;
    margin: auto 0;
}

.img_box {
    width: 14%;
    margin: auto 5px;
    position: relative;
}

.txtn_box {
    width: 69%;
    margin: 0 0 0 auto;
}

.txtn_box .ttl {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.txtn_box .phra {
    font-size: 12px;
}

.go_box {
    width: 5%;
    margin: auto;
    position: relative;
}